/*global.css already includes border-box, margin:0; */
main {
    padding: 16px 0 0;
}

/*Featured story*/
.featured-story {
    padding: 16px;
    background-color:  #fce5e5;
    margin-bottom: 70px;
}

.featured-story-link, .story {
    color: black;
    text-decoration: none;
}

.featured-story-link:hover, .story:hover {
    text-decoration: none;
}

.featured-story-image, .story-image {
    width: 100%;
}
.featured-story-image {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.featured-story-content {
    text-align: center;
}
.featured-story-heading {
    line-height: 1.3;
}

.featured-story-heading, .story-heading {
    margin: 8px 0;
}

.featured-story-description, .story-description {
    margin: 0;
}
.latte-link:hover {
    text-decoration: underline;
    color: #005a9e;
}

/*more blogs*/
.story {
    display: block;
    padding: 16px;
    margin-bottom: 40px;
    background-color: #F0F8FF;
}

.more-stories-heading {
    margin: 40px 0;
    text-align: center;
    font-size: 2em;
}


@media (min-width: 640px) {
    .featured-story-heading {
        font-size: 35px;
    }

    .featured-story-description {
        font-size: 20px;
    }

    .story {
        max-width: calc((100% - 16px) / 2);
        margin-right: 16px;
        margin-bottom: 16px;
    }

    .story:nth-of-type(even) {
        margin-right: 0;
    }

    .more-stories-container {
        display: flex;
        padding: 0 16px;
        flex-wrap: wrap;
    }
    .featured-story-image {
        max-width: 600px;
    }
    .responsive-container {
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }
    .more-stories-heading {
        font-size: 35px;
    }
}

@media (min-width: 1008px) {
    .featured-story {
        padding: 36px;
        padding-bottom: 36px;
    }

    .featured-story-link {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        background-color: white;
    }

    .featured-story-image {
        width: 60%;
        order: 2;
        margin-right: 0;
    }

    .featured-story-content {
        width: 40%;
        padding-left: 22px;
        padding-right: 20px;
        text-align: left;
    }

    .featured-story-heading, .more-stories-heading {
        font-size: 40px;
    }

    .featured-story-description {
        font-size: 24px;
        margin-top: 30px;
    }

    .story {
        max-width: calc((100% - 32px) / 3);
        margin-right: 16px;
        margin-bottom: 16px;
    }

    .story:nth-of-type(even) {
        margin-right: 16px;
    }

    .story:nth-of-type(3n+3) {
        margin-right: 0;
    }
    .responsive-container {
        width:80%;
        margin-left: auto;
        margin-right: auto;
    }

}
@media (min-width: 1535px) {
    .featured-story-image {
        width: 50%;
    }
    .featured-story-content {
        width: 50%;
    }
    .featured-story-link {
        max-width: 1215px;
    }

}
