body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
}
*, *::after, *::before {
    box-sizing: border-box;
}
.inline-together {
    margin:0;
    padding:0;
    display:inline-block;
}
main {
    line-height: 1.6em;
}
